.Landing {
  text-align: center;
  align-items: center;
  background: url("https://video-images.vice.com/articles/5966a0fb9d542017b4db7af9/lede/1499898108076-make-it-rain-weezy.jpeg") no-repeat center center fixed;
  background-size: cover;
   bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.innerLanding {
    background-color: snow;
    width: 40%;
    margin: 200px auto;
    text-align: center;
    border-radius: 5px;
    opacity: .8;
    padding: 20px;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 1.8em;
}

.myModal {
    margin-top: 15%;
}

.innerLogin{
    color: white;
}

.transactionsContainer{
  text-align: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/251287/pexels-photo-251287.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
  background-size: cover;
   bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}